<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>681355289723-fb89jmd3vt2n12p6gbv8uu9b8pn7qda9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.681355289723-fb89jmd3vt2n12p6gbv8uu9b8pn7qda9</string>
	<key>API_KEY</key>
	<string>AIzaSyBVtfM5bG20yS1z0cCP4X9WJFOAHLLkotQ</string>
	<key>GCM_SENDER_ID</key>
	<string>681355289723</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.oshinowo.oshinowoa-firebase-gis</string>
	<key>PROJECT_ID</key>
	<string>gis-app-72213</string>
	<key>STORAGE_BUCKET</key>
	<string>gis-app-72213.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:681355289723:ios:f4a3dce02442348604eede</string>
</dict>
</plist>